<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Custom JavaScripting</title>
    <link rel="stylesheet" href='css/style.css' type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato" type="text/css">
  </head>
  <body>
    <div class='main'>
      <%- markdown %>
    </div>
  </body>
</html>
